<h1>A 404 error occurred</h1>
<h2>{{ message }}</h2>

{% if reason %}
    {% if reason == 'error-controller-cannot-dispatch' %}
        {% set reasonMessage = 'The requested controller was uanble to dispatch the request.' %}
    {% endif %}
    {% if reason == 'error-controller-not-found' %}
        {% set reasonMessage = 'The requested controller could not be mapped to an existing controller class.' %}
    {% endif %}
    {% if reason == 'error-controller-invalid' %}
        {% set reasonMessage = 'The requested controller was not dispatchable.' %}
    {% endif %}
    {% if reason == 'error-router-no-match' %}
        {% set reasonMessage = 'The requested URL could not be matched by routing.' %}
    {% endif %}

    <p>{{ reasonMessage }}</p>

    {% if controller %}
        <dl>
            <dt>Controller</dt>
            <dd>
                {{ controller }}
                {% if controller_class and controller_class != controller%}
                    resolves to {{ controller_class }}
                {% endif %}
            </dd>
        </dl>
    {% endif %}

    {% if exception %}
        <h2>Exception:</h2>
        <p><b>{{ exception.getMessage() }}</b></p>

        <h3>Stack trace</h3>
        <pre>
            {{ exception.getTraceAsString() }}
        </pre>
    {% endif %}
{% endif %}