{{ docType() }}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}ZF2 {{ translate('Skeleton Application') }}{% endblock title %}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock meta %}

        <!-- Le styles -->
        <link href="{{ basePath() }}/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="{{ basePath() }}/css/style.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ basePath() }}/css/bootstrap-theme.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ basePath() }}/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        
        {% block style %}{% endblock style %}
    
        <!-- Scripts -->
        <script type="text/javascript" src="{{ basePath() }}/js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ basePath() }}/js/bootstrap.min.js"></script>
        <!--[if lt IE 9]><script type="text/javascript" src="{{ basePath() }}/js/respond.min.js"></script><![endif]-->
        <!--[if lt IE 9]><script type="text/javascript" src="{{ basePath() }}/js/html5shiv.js"></script><![endif]-->
        {% block script %}{% endblock script %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url('home') }}"><img src="{{ basePath() }}/img/zf2-logo.png" alt="Zend Framework 2"/>&nbsp;{{ translate('Skeleton Application') }}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ url('home') }}">{{ translate('Home') }}</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            {% block content %}{{ content|raw }}{% endblock content %}
            <hr>
            <footer>
                <p>&copy; 2005 - 2014 by Zend Technologies Ltd. {{ translate('All rights reserved.') }}</p>
            </footer>
        </div> <!-- /container -->
        {% block inline %}{% endblock inline %}
    </body>
</html>
