{{ doctype() }}
<html lang="en">
<head>
    <meta charset="utf-8">

    {% block title %}
    {{ headTitle('ZF Skeleton Application') }}
    {% endblock %}

    {% block meta %}
    {% do headMeta('viewport', 'width=device-width, initial-scale=1.0') %}
    {{ headMeta() }}
    {% endblock %}

    {% block link %}
    {% do headLink().appendStylesheet(basePath('/css/bootstrap.min.css')) %}
    {% do headLink().appendStylesheet(basePath('/css/style.css')) %}
    {% do headLink().appendStylesheet(basePath('/css/bootstrap-responsive.min.css')) %}
    {% do headLink({'rel': 'shortcut icon', 'href': '/images/favicon.ico'}) %}
    {{ headLink() }}
    {% endblock %}

    {% block headscript %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    {% do headScript().prependFile(basePath('/js/html5.js')) %}
    <![endif]-->
    {{ headScript() }}
    {% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ url('home') }}">Skeleton Application</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="{{ url('home') }}">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    {{ content | raw }}

    <hr>

    <footer>
        <p>&copy; 2006 - 2012 by Zend Technologies Ltd. All rights reserved.</p>
    </footer>

</div>

{% block inlinescript %}
{{ inlineScript() }}
{% endblock %}

</body>
</html>
